<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modify(null, null)">Add Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >
  <ion-content *ngIf="itemList">

  <ion-card *ngFor="let item of itemList.items; index as i">
    <ion-card-title class="hover card-title" (click)="modify(item, i)">
      {{item.name}}
    </ion-card-title>
    <ion-card-content>
      {{item.mobile}}
    </ion-card-content>
    <ion-card-content >
      {{item.gender}}
    </ion-card-content>
    <ion-card-subtitle>
        <ion-buttons>
            <ion-button (click)="deleteConfirm(i)">
              <ion-icon name="trash" size="small"></ion-icon>
                  Delete
              </ion-button>
        </ion-buttons>
    </ion-card-subtitle>
  </ion-card>

  </ion-content>
  </ion-content>
